{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["svelte3", "@typescript-eslint"],
  "extends": "standard",
  "parserOptions": {
    "extraFileExtensions": [".svelte"],
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "rules": {
    "semis": 0,
    "space-before-function-paren": 0,
    "no-console": "off",
    "import/first": "off"
  }
}
